.project {
  min-height: 100vh;
}

.cards_row {
  margin-top: 5rem !important;
}

@media screen and (max-width:350px) {
  .cards_row {
    margin-left: 0.2rem !important;
  }
}

.project_card {
  min-width: 310px;
  max-width: 380px;
  padding: 10px;
  border-radius: 10px;
  background: #46309a;
  box-shadow: inset -5px 5px 10px #1c133e,
    inset 5px -5px 10px #704df6;
  border: none;
}

.project-img {
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px;
  margin-bottom: 10px;
  width:100%;
  height: 200px;
}

.cards-body {
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background: #142664;
  box-shadow: inset -5px 5px 10px #080f28,
    inset 5px -5px 10px #203da0;
}

.project_card:hover {
  transform: scale(1.01, 1.01);
  behavior: smooth;
  cursor: pointer;
}

.project_card:hover>.project_card:not(:hover) {
  opacity: 0.5 !important;
  transform: scale(0.9, 0.9);
}

.card-header {
  font-family: Arvo, sans-serif;
  font-style: italic;
  text-align: center;
  height:50px;
  margin-bottom: 1.5rem;
  padding:0.5rem auto;
}

a button {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff !important;
}

@media screen and (max-width:1025px) {
  .btn-row {
    row-gap: 5px;
    flex-flow: column-reverse wrap;
    align-items: center;
  }
}

.custom-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  font-size: 15px;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #5741d8;
  background: linear-gradient(0deg, #5741d8 0%, #5741d8 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}