.about-style {
    min-height: 100vh;
}

.main-para {
    text-indent: 2rem;
}

.abt-img {
    width: 80%;
    margin: 1rem auto;
}

.main-text {
    font-size: 4rem;
    -webkit-box-reflect: below 0.5px linear-gradient(transparent, #ffbd39);
    margin-bottom: 3rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}