/* IMAGE*/

.images {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    margin: auto;
}

.img {
    overflow: hidden;
    border-radius: 50%;
}

.blue-bg-outer {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background: #6a57e8;
    box-shadow: inset 0 0 10px, 0 0 20px;
    display: grid;
    place-items: center;
}

.white-bg {
    width: 21.875em;
    height: 21.875em;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
}

.blue-bg {
    width: 18.75em;
    height: 18.75em;
    border-radius: 50%;
    background: var(--primary-color);
}

.blue-bg img {
    position: relative;
    /* bottom: 30px;
    right: 20px; */
    width: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 480px) {

    .images {
        /* width: 100%; */
        min-width: 15em;
    }

    .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;

    }

    .white-bg {
        width: 16.875em;
        height: 16.875em;
    }

    .blue-bg {
        width: 12.75em;
        height: 12.75em;
    }

}

@media only screen and (max-width: 320px) {
    .images {
        height: 18em;
    }

    img {
        top: 2.39px;
        left: 2.4px;
    }

    .blue-bg-outer {
        width: 16em;
        height: 16em;
    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }

    .blue-bg img {
        position: relative;
        bottom: 20px;
        right: 10px;
        width: 100%;
    }
}

/* Resume download button css  */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77, 54, 208, 1) 0%, rgba(132, 116, 254, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;
    color: hsla(0, 0%, 90%);
}

@media screen and (max-width:1025px) {
    .cssbuttons-io-button {
        font-size: 16px;
        font-weight: 600;
    }
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

/* Home page css  */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0 auto;
    padding: 0;
}

.home-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.designation {
    text-transform: uppercase;
    font-weight: bold;
}

.welcome-msg {
    font-size: 2rem;
    font-family: Almendra SC, sans-serif;
    font-weight: bold;
}

.name {
    font: 6rem Concert One, sans-serif;
    color: #553fd7;
}

.prefix {
    font-size: 0.7em;
    font-weight: 300;
    font-family: 'Almendra SC', Courier, monospace;
    color: #000000e7;
}

.h-btn {
    width: 100%;
}

@media screen and (max-width:769px) {

    .button-1,
    .button-2 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .button-2 {
        margin-bottom: 6rem !important;
    }

    .button-1 {
        margin-bottom: 20px !important;
    }

    .images {
        margin-top: 7rem !important;
    }
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
    animation-timing-function: ease-in;
}

.animate__animated.animate__zoomInDown {
    --animate-duration: 3s;
    animation-timing-function: ease-in;
}

.animate__animated.animate__bounceInDown {
    --animate-duration: 3.5s;
    animation-timing-function: ease-in;
}

.animate__animated.animate__bounceInUp {
    --animate-duration: 3.5s;
    animation-timing-function: ease-in;
}

@media screen and (min-width:769px) and (max-width:872px) {
    body {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .col-6 {
        min-width: 100%;
    }

    .home,
    .about {
        min-height: 100vh;
        width: 100% !important;
        margin-top: 4.5rem !important;
    }

    .home-2 {
        margin-top: 2.5em;
    }

    .name {
        font-size: 4rem;
    }
}

@media screen and (max-width:769px) {
    body {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .col-6 {
        min-width: 100%;
    }

    .home,
    .about {
        min-height: 100vh;
        width: 100% !important;
        margin-top: 4.5rem !important;
    }

    .home-2 {
        margin-top: 2.5em;
    }

    .name {
        font-size: 4rem;
    }
}

@media screen and (max-width:426px) {
    .col-6 {
        min-width: 100%;
    }

    .home,
    .about {
        min-height: 100vh;
        width: 100% !important;
        margin-top: 4.5rem !important;
    }

    .name {
        font-size: 4rem;
    }

    .images {
        margin-bottom: -7rem !important;
    }
}

@media screen and (max-width:321px) {

    .name {
        font-size: 3rem;
    }

    .images {
        margin-bottom: -3rem !important;
    }
}

@media screen and (max-width:1025px) {

    .name {
        font-size: 4.5rem;

    }
}